.alerts {
  bottom: 10px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 10px;
  z-index: 4;
}


.alert {
  background-color: var(--alert-bgcolor, #2196f3aa);
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  padding: 15px;
  position: relative;
  width: 250px;
}

.alert:before {
  content: var(--alert-icon, '\f05a');
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 25px;
  font-weight: 900;
  transform: translateY(-50%);
}

.alert__content {
  margin-left: 40px;
}

.alert__content:before {
  content: var(--alert-title, 'Info');
  display: block;
  font-size: 18px;
  font-weight: 600;
}


.alert-info {
  --alert-bgcolor: #2196f3dd;
  --alert-title: 'Info';
  --alert-icon: '\f05a';
}

.alert-success {
  --alert-bgcolor: #4caf50dd;
  --alert-title: 'Success';
  --alert-icon: '\f058';
}

.alert-warning {
  --alert-bgcolor: #ff9800dd;
  --alert-title: 'Warning';
  --alert-icon: '\f06a';
}

.alert-error {
  --alert-bgcolor: #f44336dd;
  --alert-title: 'Error';
  --alert-icon: '\f057';
}
