body {
  background-color: #f6f7fc;
  color: #111111;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: var(--maxwidth);
  padding: 0 var(--offset);
}
