.btn {
  background-color: #1158c2;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15;
  display: inline-block;
  outline: none;
  padding: 10px 25px;
  text-decoration: none;
  transition: background-color 0.3s ease-out;
}

.btn:hover {
  background-color: #093577;
}


.social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  display: inline;
  margin: 0 5px;
}

.social__item:hover .social__icon {
  color: #34a1e0;
}

.social__link {
  text-decoration: none;
}

.social__icon {
  color: #111;
  font-size: 25px;
  transition: color 0.3s ease-in;
}
