.content {
  box-sizing: border-box;
  height: calc(100vh - 50px);
  padding: 100px 0 50px;
}

.content .wrapper {
  height: 100%;
}

.content__inner {
  display: grid;
  height: 100%;
  grid-template-columns: 5fr 5fr 6fr 4fr;
  grid-template-rows: 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.card {
  grid-column: var(--card-gridcolumn);
  grid-row: var(--card-gridrow);
  overflow: hidden;
  perspective: 500px;
  position: relative;
}

.card:hover .card__cover {
  transform: var(--cover-transform);
}

.card:hover .card__content {
  transform: var(--content-transform);
}

.card__cover {
  align-items: center;
  backface-visibility: hidden;
  background-color: var(--cover-bgcolor, #ffffff);
  bottom: 0;
  color: var(--cover-color, #ffffff);
  font-size: var(--cover-fontsize, 24px);
  font-style: var(--cover-fontstyle, normal);
  font-weight: var(--cover-fontweight, 400);
  display: flex;
  justify-content: center;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.3s ease-in-out;
}

.card__content {
  backface-visibility: hidden;
  background-color: #ffffff;
  box-sizing: border-box;
  font-size: var(--content-fontsize, 20px);
  font-weight: var(--content-fontweight, 700);
  height: 100%;
  overflow: auto;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}


.card-binary {
  --card-gridcolumn: 1/2;
  --card-gridrow: 1/3;
  --cover-transform: rotateX(-180deg);
}

.card-binary .card__content {
  align-items: center;
  display: flex;
  justify-content: center;
  transform: rotateX(-180deg);
}


.card-qa {
  --card-gridcolumn: 1/2;
  --card-gridrow: 3/8;
  --cover-bgcolor: #52bf77;
  --cover-fontsize: 96px;
  --cover-transform: scale(0);
}


.card-js {
  --card-gridcolumn: 2/3;
  --card-gridrow: 1/5;
  --cover-bgcolor: #f7cf69;
  --cover-color: #111111;
  --cover-fontsize: 96px;
  --cover-fontweight: 700;
  --cover-transform: rotateY(180deg);
}

.card-js .card__cover {
  align-items: flex-end;
  justify-content: flex-end;
}

.card-js .card__content {
  transform: rotateY(-180deg);
}


.card-java {
  --card-gridcolumn: 2/3;
  --card-gridrow: 5/8;
  --cover-bgcolor: #e12b4c;
  --cover-fontsize: 56px;
  --cover-transform: translateY(100%);
}


.card-php {
  --card-gridcolumn: 3/6;
  --card-gridrow: 1/2;
  --cover-bgcolor: #8893bf;
  --cover-color: #111111;
  --cover-fontsize: 80px;
  --cover-fontstyle: italic;
  --cover-transform: translate(100%, -100%);
}


.card-dotnet {
  --card-gridcolumn: 3/4;
  --card-gridrow: 2/8;
  --cover-bgcolor: #542077;
  --cover-fontsize: 96px;
  --cover-transform: rotate(90deg);
}

.card-dotnet .card__cover {
  transform-origin: 100% -100%;
}


.card-events {
  --card-gridcolumn: 4/6;
  --card-gridrow: 2/5;
  --content-fontsize: 16px;
  --content-fontweight: 400;
  --cover-bgcolor: #2e99f3;
  --cover-transform: skewX(90deg);
}


.card-blog {
  --card-gridcolumn: 4/6;
  --card-gridrow: 5/7;
  --content-fontsize: 16px;
  --content-fontweight: 400;
  --cover-bgcolor: #0343a3;
  --cover-transform: scaleX(0);
}


.card-contacts {
  --card-gridcolumn: 4/6;
  --card-gridrow: 7/8;
  --cover-bgcolor: #00255e;
  --cover-transform: translateX(100%);
}

.card-contacts .card__content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
}



@media screen and (max-width: 960px) {

  .content__inner {
    grid-template-columns: 7fr 1fr 5fr 3fr;
    grid-template-rows: 2fr 2fr 1fr 2fr 2fr;
  }

  .card-binary {
    --card-gridcolumn: 1/2;
    --card-gridrow: 1/4;
  }

  .card-qa {
    --card-gridcolumn: 1/3;
    --card-gridrow: 5/6;
  }

  .card-js {
    --card-gridcolumn: 2/4;
    --card-gridrow: 1/4;
  }

  .card-java {
    --card-gridcolumn: 1/3;
    --card-gridrow: 4/5;
  }

  .card-php {
    --card-gridcolumn: 3/5;
    --card-gridrow: 4/5;
  }

  .card-dotnet {
    --card-gridcolumn: 3/5;
    --card-gridrow: 5/6;
  }

  .card-events {
    --card-gridcolumn: 4/5;
    --card-gridrow: 1/2;
  }

  .card-blog {
    --card-gridcolumn: 4/5;
    --card-gridrow: 2/3;
  }

  .card-contacts {
    --card-gridcolumn: 4/5;
    --card-gridrow: 3/4;
  }

}


@media screen and (max-width: 600px) {

  .content__inner {
    grid-template-columns: 5fr 2fr 4fr;
    grid-template-rows: 4fr 5fr 3fr 2fr 4fr 2fr;
  }

  .card-binary {
    --card-gridcolumn: 1/3;
    --card-gridrow: 1/2;
  }

  .card-qa {
    --card-gridcolumn: 2/4;
    --card-gridrow: 2/3;
  }

  .card-js {
    --card-gridcolumn: 1/2;
    --card-gridrow: 2/4;
  }

  .card-java {
    --card-gridcolumn: 3/4;
    --card-gridrow: 5/6;
  }

  .card-php {
    --card-gridcolumn: 1/3;
    --card-gridrow: 5/6;
  }

  .card-dotnet {
    --card-gridcolumn: 2/4;
    --card-gridrow: 3/5;
  }

  .card-events {
    --card-gridcolumn: 3/4;
    --card-gridrow: 1/2;
  }

  .card-blog {
    --card-gridcolumn: 1/4;
    --card-gridrow: 6/7;
  }

  .card-contacts {
    --card-gridcolumn: 1/2;
    --card-gridrow: 4/5;
  }

}
