.header {
  animation: header-appear 0.7s ease-out;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header__inner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
}


.logo {
  width: 110px;
}


.toolbar {
  align-items: center;
  display: flex;
}


.notification {
  color: #b6c1d5;
  cursor: pointer;
}

.notification:hover {
  color: #8f97a5;
  transition: color 0.2s ease-out;
}


.profile {
  margin-left: 20px;
  position: relative;
}

.profile__logo {
  background-color: #ff0000;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 36px;
  position: relative;
  width: 36px;
}

.profile__logo:hover {
  background-color: #f30000;
  transition: background-color 0.2s ease-out;
}

.profile__logo > span {
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.profile__menu {
  background-color: #ffffff;
  box-shadow: 0 10px 15px #b6c1d599;
  display: none;
  min-width: 175px;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
}

.profile__username {
  border-bottom: 2px solid #9ba6b2;
  color: #9ba6b2;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding-bottom: 5px;
  text-align: center;
}

.profile__navigation {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
}

.profile__navigation > li {
  padding: 5px;
}

.profile__navigation > li:hover {
  background-color: #eaecf3;
}

.profile__navigation > li > a {
  color: #111;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}


#menuSwitcher {
  display: none;
}

#menuSwitcher:checked + .profile__menu {
  display: block;
}


@keyframes header-appear {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
